@font-face {
    font-family: Oswald;
    src: url(./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Titillium_Web;
    src: url(./assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

body {
    background-color: #040f14;
    color: white;
}

.App {
    margin-left: 3.5rem;
}

p {
    font-family: Titillium_Web;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
}


.Fbtn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin: 5rem;
}

details {
    width: 33%;
}

.SortBtn1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 10rem;

}

.SortBtn1 Button {
    margin: .1rem;
    background-color: rgb(151, 54, 54);

    color: aliceblue;
    font-size: 25pt;
    align-self: center;
    border: solid  rgb(255, 255, 255);
    padding: .3rem .5rem;
    text-align: center;
    width: 100%;
}

.SortBtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.SortBtn2 Button {
    margin: .1rem;
    background-color: rgb(151, 54, 54);

    color: aliceblue;
    font-size: 25pt;

    align-self: center;
    border: solid rgb(255, 255, 255);
    padding: .3rem .5rem;
    text-align: center;
    width: 100%;
}

.SortBtn3 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: scroll;
    height: 13rem;
}

.SortBtn3 Button {
    margin: .1rem;
    background-color: rgb(151, 54, 54);
    color: aliceblue;
    font-size: 25pt;

    align-self: center;
    border: solid rgb(255, 255, 255);
    padding: .3rem .5rem;
    text-align: center;
    width: 100%;

}

summary {
 
    background-color: red;
    color: aliceblue;
    font-size: 30pt;
    border-radius: 1rem 1rem 0 0;
    padding: .3rem .5rem;
    text-align: center;
    font-weight: 900;
}